.about {
  background-color: var(--body-color-black-dark);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  padding: 140px 0px;
}

.aboutContainerTittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5%;
}

.aboutContainerTittle > p {
  color: var(--form-text-color);
  font-family: "Hind";
  font-size: 16px;
}

.aboutTittle {
  color: var(--whiter);
  font-family: "Montserrat";
  font-size: 30px;
  display: flex;
  justify-content: center;
}

#aboutTextContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.aboutText {
  color: var(--form-text-color);
  font-family: "Hind";
  font-size: 18px;
  line-height: 2rem;
  text-wrap: wrap;
}

.aboutContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  padding-left: 50px;
  padding-right: 50px;
}

#aboutContainerLeft {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aboutCardsContainer {
  display: grid;
  height: 80%;
  justify-items: center;

  row-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.aboutCards {
  border-style: solid;
  width: 85%;
  height: 100%;
  background-color: var(--body-color-black-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;

  border-left: 1px solid var(--border-header);
  border-bottom: 1px solid var(--border-header);
  border-right: var(--border-header);
  border-top: var(--border-header);
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.aboutCards:hover {
  transform: scale(1.1, 1.1);
}

.aboutCards > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}

.aboutCards > div:nth-child(1) > img {
  width: 1.8rem;
  height: 1.8rem;
}

.aboutCards > div:nth-child(1) > p {
  color: var(--whiter);
  font-family: "Hind";
  font-size: 1.1rem;
}

.aboutCards > div:nth-child(2) > p {
  color: var(--text-color-purple-dark);
  font-family: "Hind";
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

#aboutContainerRight {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1200px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  #aboutCardsContainer {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  #aboutContainerLeft {
    height: 100%;
    width: 100%;
  }

  #aboutContainerRight {
    width: 100%;
    height: 100%;
  }

  .aboutCards > div:nth-child(1) > p {
    font-size: 0.9rem;
  }

  .aboutCards > div:nth-child(1) > img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .aboutCards > div:nth-child(2) > p {
    font-size: 1.6rem;
  }
}

@media (max-width: 680px) {
  #aboutCardsContainer {
    flex-wrap: wrap;
  }

  .about {
    gap: 50px;
    padding: 120px 0px;
  }
}
