.certificate {
  background-color: var(--body-color-black-light);
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  padding: 50px 0;
}

.certificate .tittleCertificate {
  color: var(--whiter);
  font-family: "Montserrat";
  font-size: 30px;
  position: relative;
  margin-bottom: 100px;
}

.containerCertificate {
  width: 70%;
  height: auto;
  margin: auto 0;
  position: relative;
}

.containerCertificate > ul {
  list-style: none;
}

.containerCertificate ul::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-image: linear-gradient(
    to bottom,
    rgba(91, 14, 216, 0.767),
    rgba(238, 12, 200, 0.747)
  );
}

.containerCertificate > ul li {
  width: 50%;
  height: auto;
  padding: 15px 20px;
  background-color: var(--body-color-black-dark);
  box-shadow: 1px 1px 15px #000;
  position: relative;
  z-index: 99;
  border-radius: 15px;
  margin-bottom: 30px;
}

.certificationTittle {
  color: var(--whiter);
  font-family: "Montserrat";
}

.containerCertificate ul li p {
  color: var(--whiter);
  font-family: "Hind";
}

.containerCertificate ul li a {
  color: var(--text-color-purple-light);
  font-family: "Hind";
}

ul li:nth-child(even) .circleCertification {
  transform: translate(-50%, -50%);
  left: -30px;
}

ul li:nth-child(odd) .circleCertification {
  transform: translate(50%, -50%);
  right: -30px;
}

.containerCertificate ul li:nth-child(4) {
  margin-bottom: 0;
}

.containerCertificate ul li .circleCertification {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e100ff7a;
  top: 0;
  display: grid;
  place-items: center;
}

.circleCertification::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: #7f00ff;
  border-radius: 50%;
}

ul li .dateCertification {
  position: absolute;
  width: 130px;
  height: 33px;
  background-image: linear-gradient(to right, #7f00ff, #e100ff);
  border-radius: 15px;
  top: -45px;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 13px;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.318);
}

.containerCertificate ul li:nth-child(odd) {
  float: left;
  clear: right;
  text-align: right;
  transform: translateX(-30px);
}

ul li:nth-child(odd) .dateCertification {
  right: 20px;
}

.containerCertificate ul li:nth-child(even) {
  float: right;
  clear: left;
  transform: translateX(30px);
}

ul li .tittleCertificate {
  font-size: 17px;
  color: rgb(91, 14, 216);
}

ul li p {
  font-size: 13px;
  color: #666;
  line-height: 18px;
  margin: 6px 0 4px 0;
}

ul li a {
  font-size: 13px;
  text-decoration: none;
  color: rgb(18, 54, 214);
  transition: all 0.3s ease;
}

@media only screen and (min-width: 798px) and (max-width: 1100px) {
  .containerCertificate {
    width: 80%;
  }
}

@media only screen and (max-width: 798px) {
  .containerCertificate {
    width: 70%;
    transform: translateX(20px);
  }

  .containerCertificate ul::after {
    left: -40px;
  }

  .containerCertificate ul li {
    width: 100%;
    float: none;
    clear: none;
    margin-bottom: 80px;
  }

  .containerCertificate ul li .circleCertification {
    left: -40px;
    transform: translate(-50%, -50%);
  }

  .containerCertificate ul li .dateCertification {
    left: 20px;
  }

  .containerCertificate ul li:nth-child(odd) {
    transform: translateX(0px);
    text-align: left;
  }

  .containerCertificate ul li:nth-child(even) {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 550px) {
  .containerCertificate {
    width: 80%;
  }

  .containerCertificate ul::after {
    left: -20px;
  }

  .containerCertificate ul li .circleCertification {
    left: -20px;
  }
}
