.contact {
  background-color: var(--body-color-black-dark);
  height: 90vh;
}

.contact > h3 {
  color: var(--whiter);
  font-family: "Montserrat";
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.inputForm {
  width: 35rem;
  height: 2rem;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
  color: var(--whiter);
  font-family: "Hind";
  background-color: var(--form-box-color);
}

.inputForm:focus {
  color: var(--whiter);
  font-family: "Hind";
}

::placeholder {
  color: var(--form-text-color);
  font-family: "Montserrat";
}

#messageForm::placeholder {
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: "Montserrat";
}

#messageForm:focus {
  color: var(--whiter);
  font-family: "Hind";
}

#messageForm {
  width: 35rem;
  height: 10rem;
  border-radius: 5px;
  border-style: none;
  color: var(--whiter);
  background-color: var(--form-box-color);
  position: relative;
  resize: none;
  font-family: "Hind";
}

#buttonForm {
  border-style: none;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 500;
  background-color: var(--body-color-black-light);
  color: var(--text-color-purple-light);
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  border-top: solid #b92db3;
  background-color: var(--body-color-black-light);
  color: var(--whiter);
  height: 4rem;
  font-family: "Montserrat";
  font-weight: 500;
}

.colorName {
  color: var(--text-color-purple-light);
}
