* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --border-header: #b91bbc;
  --border-header-dark: #9f18a6;
  --body-color-black-dark: #110f0f;
  --body-color-black-light: #262127;
  --whiter: #f8f2f2;
  --text-color-purple-dark: #b92db3;
  --text-color-purple-light: #d740e4;
  --form-box-color: #423d3d;
  --form-text-color: #bfb7b7;
}

.navBar_style {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  border-bottom: solid var(--text-color-purple-dark);
  background-color: var(--body-color-black-dark);
  height: 3rem;
  top: 0;
  width: 100%;
  z-index: 1000;
  position: fixed;
  z-index: 1000;
}

.navBar_style > div > img {
  height: 45px;
  width: 45px;
}

.navBar_style > div > a {
  cursor: pointer;
  text-decoration: none;
  color: var(--whiter);
  font-family: "Montserrat";
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}

#heroNav,
#aboutNav,
#projectsNav,
#skillsNav,
#certificateNav,
#contactNav {
  transition: 0.3s ease;
}

#heroNav:hover,
#aboutNav:hover,
#projectsNav:hover,
#skillsNav:hover,
#certificateNav:hover,
#contactNav:hover {
  color: var(--text-color-purple-light);
}

.navBar_style > div a:visited,
.navBar_style > div a:active {
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

.dropdown button {
  background-color: var(--body-color-black-light);
  padding: 8px 15px;
  border: none;
  color: var(--whiter);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Montserrat";
  font-weight: 200px;
}

.dropdown a {
  display: block;
  padding: 8px 15px;
  cursor: pointer;
}

.dropdownContent > a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Montserrat";
  font-weight: 200px;
}

.dropdownContent > a > p {
  text-decoration: none;
  color: var(--whiter);
}

.dropdown .dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--body-color-black-dark);
  min-width: 120px;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover button {
  background-color: var();
}

.dropdownOption1:hover {
  background-color: var(--form-box-color);
}

.dropdownOption2:hover {
  background-color: var(--form-box-color);
}

.idiomFlag {
  height: 25px;
  width: 25px;
}

hr {
  border-color: var(--border-header);
  height: 2px;
}

.hero {
  background-color: var(--body-color-black-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  margin-top: 3rem;
}

.description > h1 {
  color: var(--whiter);
  font-family: "Montserrat";
}

.description > h3 {
  color: var(--text-color-purple-light);
  font-family: "Montserrat";
}

.contactIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 10px;
}

.contactIcons > li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  background-color: var(--body-color-black-dark);
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contactIcons > li:hover {
  transform: scale(1.1, 1.1);
}

.contactIcons > li > img {
  width: 30px;
  height: 30px;
}

.photo {
  width: 15rem;
  height: 15rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--body-color-black-light);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-purple-dark);
}
