* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --border-header: #b91bbc;
  --body-color-black-dark: #110f0f;
  --body-color-black-light: #262127;
  --whiter: #f8f2f2;
  --text-color-purple-dark: #b92db3;
  --text-color-purple-light: #d740e4;
  --form-box-color: #423d3d;
  --form-text-color: #bfb7b7;
}

.navBar_style {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-bottom: solid var(--text-color-purple-dark);
  background-color: var(--body-color-black-dark);
  color: var(--whiter);
  height: 3rem;
  font-family: "Montserrat";
  font-weight: 500;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-left: 60px;
}

.navBar_style > img {
  height: 45px;
  width: 45px;
  position: absolute;
  left: 50px;
}

.navBar_style > a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

#heroNav,
#aboutNav,
#projectsNav,
#skillsNav,
#certificateNav,
#contactNav {
  transition: 0.3s ease;
}

#heroNav:hover,
#aboutNav:hover,
#projectsNav:hover,
#skillsNav:hover,
#certificateNav:hover,
#contactNav:hover {
  color: var(--text-color-purple-light);
}

.navBar_style > a:visited,
.navBar_style > a:active {
  cursor: pointer;
  color: inherit;
}

.hero {
  background-color: var(--body-color-black-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  margin-top: 3rem;
}

.description > h1 {
  color: var(--whiter);
  font-family: "Montserrat";
}

.description > h3 {
  color: var(--text-color-purple-light);
  font-family: "Montserrat";
}

.contactIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 10px;
}

.contactIcons > li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  background-color: var(--body-color-black-dark);
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contactIcons > li:hover {
  transform: scale(1.1, 1.1);
}

.contactIcons > li > img {
  width: 30px;
  height: 30px;
}

.photo {
  width: 15rem;
  height: 15rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--body-color-black-light);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-purple-dark);
}
