* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --border-header: #b91bbc;
  --border-header-dark: #9f18a6;
  --body-color-black-dark: #110f0f;
  --body-color-black-light: #262127;
  --whiter: #f8f2f2;
  --text-color-purple-dark: #b92db3;
  --text-color-purple-light: #d740e4;
  --form-box-color: #423d3d;
  --form-text-color: #bfb7b7;
}

/* Navbar*/

.navBar_style {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid var(--text-color-purple-dark);
  background-color: var(--body-color-black-dark);
  height: 3rem;
  top: 0;
  width: 100%;
  z-index: 1;
  position: fixed;
}

.navBar_style > div > img {
  height: 45px;
  width: 45px;
}

.navBar_style > div > a {
  cursor: pointer;
  text-decoration: none;
  color: var(--whiter);
  font-family: "Montserrat";
  font-weight: 500;
  padding-inline: 10px;
}

.navBar_style #logoNav {
  order: 0;
}

.navBar_style .hamburguer {
  order: 1;
}

.navBar_style .dropdown {
  order: 2;
}

/* Hamburguer */

.hamburguer {
  display: none;
  width: 40px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

.hamburguer::before,
.hamburguer::after,
.hamburguer span {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--whiter);
  position: absolute;
  left: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.hamburguer span {
  top: 50%;
  transform: translateY(-50%);
}

.hamburguer::before {
  top: 0;
}

.hamburguer::after {
  bottom: 0;
}

.hamburguer.active span {
  opacity: 0;
}

.hamburguer.active::before {
  transform: translateY(13px) rotate(45deg);
}

.hamburguer.active::after {
  transform: translateY(-13px) rotate(-45deg);
}

#navList {
  display: flex;
  gap: 20px;
}

/* Transition animation */

#heroNav,
#aboutNav,
#projectsNav,
#skillsNav,
#certificateNav,
#contactNav {
  transition: 0.3s ease;
}

#heroNav:hover,
#aboutNav:hover,
#projectsNav:hover,
#skillsNav:hover,
#certificateNav:hover,
#contactNav:hover {
  color: var(--text-color-purple-light);
}

.navBar_style > div a:visited,
.navBar_style > div a:active {
  cursor: pointer;
}

.dropdown {
  display: relative;
}

.dropdown button {
  background-color: var(--body-color-black-light);
  padding: 8px 15px;
  border: none;
  color: var(--whiter);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Montserrat";
  font-weight: 200px;
}

.dropdown a {
  display: block;
  padding: 8px 15px;
  cursor: pointer;
}

.dropdownContent > a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Montserrat";
  font-weight: 200px;
}

.dropdownContent > a > p {
  text-decoration: none;
  color: var(--whiter);
}

.dropdown .dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--body-color-black-dark);
  min-width: 120px;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:hover button {
  background-color: var();
}

.dropdownContent > a:hover {
  background-color: var(--form-box-color);
}

.idiomFlag {
  height: 25px;
  width: 25px;
}

.arrowDown {
  width: 25px;
  height: 25px;
}

hr {
  border-color: var(--border-header);
  height: 2px;
}

/* Hero section*/

.hero {
  background-color: var(--body-color-black-light);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  height: auto;
  padding: 250px 0px;
}

.description > h1 {
  color: var(--whiter);
  font-family: "Montserrat";
}

.description > h3 {
  color: var(--text-color-purple-light);
  font-family: "Montserrat";
}

.contactIcons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 10px;
}

.contactIcons > li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  background-color: var(--body-color-black-dark);
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contactIcons > li:hover {
  transform: scale(1.1, 1.1);
}

.contactIcons > li > img {
  width: 30px;
  height: 30px;
}

.photo {
  width: 15rem;
  height: 15rem;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--body-color-black-light);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color-purple-dark);
}

/* Responsivite*/

@media (max-width: 1200px) {
  .hamburguer {
    display: block;
  }

  #navList {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 0;
    background-color: var(--body-color-black-dark);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid var(--text-color-purple-dark);
  }

  #navList.active {
    display: flex;
  }

  .navBar_style #logoNav {
    order: 1;
  }

  .navBar_style .hamburguer {
    order: 0;
  }

  .navBar_style .dropdown {
    order: 2;
  }
}

@media (max-width: 700px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    padding: 180px 0px;
    gap: 3rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contactIcons {
    gap: 10px;
  }
}
