.projects {
  background-color: var(--body-color-black-light);
  height: 110vh;
}

.projects > h3 {
  color: var(--whiter);
  font-family: "Montserrat";
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.projectsContainer {
  display: grid;
  flex-direction: column;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 35px;
  height: 70vh;
  justify-content: center;
}

.projectsContainer > div {
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, z-index 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.projectsContainer > div:hover {
  transform: scale(1.5);
  z-index: 10; /* Eleva o card em foco sobre os outros */
}

.projectsContainer > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: opacity 0.3s ease;
}

.projectsContainer > div:hover::before {
  opacity: 0;
}

/* Config style default for all dialogs*/

#dialog1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: none;
  border-width: 1px;
  border-radius: 15px;
  border-style: none;
  width: 80%;
  height: 50%;
  background-color: var(--body-color-black-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#dialog1::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#dialog1 > div {
  padding: 20px;
  width: 100%;
  height: 100%;
}

#dialog2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: none;
  border-width: 1px;
  border-radius: 15px;
  border-style: none;
  width: 80%;
  height: 50%;
  background-color: var(--body-color-black-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#dialog2::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#dialog2 > div {
  padding: 20px;
  width: 100%;
  height: 100%;
}

#dialog3 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: none;
  border-width: 1px;
  border-radius: 15px;
  border-style: none;
  width: 80%;
  height: 50%;
  background-color: var(--body-color-black-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#dialog3::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#dialog3 > div {
  padding: 20px;
  width: 100%;
  height: 100%;
}

#dialog4 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: none;
  border-width: 1px;
  border-radius: 15px;
  border-style: none;
  width: 80%;
  height: 50%;
  background-color: var(--body-color-black-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#dialog4::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#dialog4 > div {
  padding: 20px;
  width: 100%;
  height: 100%;
}

#dialog5 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: none;
  border-width: 1px;
  border-radius: 15px;
  border-style: none;
  width: 80%;
  height: 50%;
  background-color: var(--body-color-black-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#dialog5::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#dialog5 > div {
  padding: 20px;
  width: 100%;
  height: 100%;
}

#dialog6 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: none;
  border-width: 1px;
  border-radius: 15px;
  border-style: none;
  width: 80%;
  height: 50%;
  background-color: var(--body-color-black-light);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#dialog6::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

#dialog6 > div {
  padding: 20px;
  width: 100%;
  height: 100%;
}

/* Config style of dialog containers*/

.dialogContainer {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.rightSideContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.nameDialogContainer {
  display: flex;
  justify-content: space-between;
}

.nameProjectDialog {
  font-family: "Montserrat";
  font-size: 30px;
  color: var(--text-color-purple-dark);
}

.closeButton {
  width: 2%;
  height: 20%;
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.closeIcon {
  width: 50%;
  height: 50%;
  color: var(--text-color-purple-dark);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
}

.descriptionDialogContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.descriptionDialogContainer > div > p {
  font-family: "Hind";
  color: var(--form-text-color);
}

.leftSideContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

.dialogProjectImage {
  width: 100%;
  height: 100%;
}

.dialogButtonProjects {
  display: flex;
  align-items: center;
  gap: 15px;
}

.dialogButtonProjects > a > button {
  font-family: "Hind";
  color: var(--whiter);
  background-color: var(--border-header);
  width: 8rem;
  height: 2rem;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.dialogButtonProjects > a > button:hover {
  background-color: var(--border-header-dark);
}

/* Project Images */

.weatherImage {
  background-image: url(../img/ClimaTempoApp.png);
}

.finderImage {
  background-image: url(../img/GitHubFinder.png);
}

.mangaImage {
  background-image: url(../img/LandingPageManga.png);
}

.copaImage {
  background-image: url(../img/NLWCopa.png);
}

.listImage {
  background-image: url(../img/ToDoList.png);
}

.projectsContainer > div p,
.projectsContainer > div img {
  position: relative;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.projectsContainer > div p {
  cursor: default;
  color: var(--whiter);
  font-family: "Montserrat";
  text-align: center;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.projectsContainer > div img {
  width: 25px;
  height: 25px;
}

.iconContainer {
  display: flex;
  gap: 5px;
  position: relative;
}

.projectsContainer > div:hover p,
.projectsContainer > div:hover img {
  opacity: 0;
}
