.projects {
  background-color: var(--body-color-black-light);
  height: 80vh;
}

.projects > h3 {
  color: var(--whiter);
  font-family: "Montserrat";
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.projectsContainer {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 35px;
  background-color: ;
  height: 50vh;
  justify-content: center;
}

.projectsContainer > div {
  border: 1px solid red;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  transition: transform 0.3s ease;
  position: relative;
}

.projectsContainer > div > img {
  display: none;
}

.projectsContainer > div > p {
  display: none;
}

.weatherImage {
  background-image: url(../img/ClimaTempoApp.png);
}

.finderImage {
  background-image: url(../img/GitHubFinder.png);
}

.mangaImage {
  background-image: url(../img/LandingPageManga.png);
}

.copaImage {
  background-image: url(../img/NLWCopa.png);
}

.listImage {
  background-image: url(../img/ToDoList.png);
}

.projectsContainer > div:hover {
  transform: scale(1.5);
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 50%;
}

.projectsContainer > div:hover p,
.projectsContainer > div:hover img {
  width: 15px;
  height: 15px;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  align-items: center;
  color: var(--whiter);
}
