.projects {
  background-color: var(--body-color-black-light);
  height: 80vh;
}

.projects > h3 {
  color: var(--whiter);
  font-family: "Montserrat";
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.projectsContainer {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 35px;
  background-color: ;
  height: 50vh;
  justify-content: center;
}

.projectsContainer > div {
  border: 1px solid red;
  text-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.weatherImage {
  background-image: url(../img/ClimaTempoApp.png);
}

.finderImage {
  background-image: url(../img/GitHubFinder.png);
}

.mangaImage {
  background-image: url(../img/LandingPageManga.png);
}

.copaImage {
  background-image: url(../img/NLWCopa.png);
}

.listImage {
  background-image: url(../img/ToDoList.png);
}
