.skills {
  background-color: var(--body-color-black-dark);
  height: 100vh;
}

.skills > h3 {
  color: var(--whiter);
  font-family: "Montserrat";
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.cardSkills {
  border: solid 1px red;
  background-color: blue;
}

.containerSkills {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  grid-gap: 50px;
  justify-content: center;
}

.containerSkills > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  gap: 15px;
  text-items: center;
  cursor: default;
  color: var(--whiter);
  background-color: var(--body-color-black-light);
  width: 150px;
  height: 135px;
  border-left: 4px solid var(--border-header);
  border-bottom: 4px solid var(--border-header);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
}

.containerSkills > div > p {
  font-family: "Montserrat";
}

.containerSkills > div > img {
  color: var(--border-header);
}

.iconSkills {
  width: 48px;
  height: 48px;
}
